-- This Script in this file are based on the (AdventureWorks(2019 OLTP)) sample database

/* THIS SCRIPT creates a stored procedure (uspFindProducts) 
to retrieve product details (name, number, color, price, category, subcategory) 
using parameters for dynamic filtering by minimum/maximum price and partial product name */
CREATE PROCEDURE production.uspFindProdcuts
(@MinListPrice DECIMAL = 0,
@MaxListPrice DECIMAL = NULL,
@ProductName NVARCHAR(25))
AS 
BEGIN 
SELECT P.Name,P.ProductNumber,P.Color,P.ListPrice,
PSC.Name AS SubCategory,
PC.Name AS Category 
FROM production.Product P
INNER JOIN Production.ProductSubcategory PSC
ON p.ProductSubcategoryID = PSC.ProductSubcategoryID
INNER JOIN Production.ProductCategory PC
ON PC.ProductCategoryID = PSC.ProductCategoryID
WHERE P.ListPrice >=@MinListPrice 
AND( @MaxListPrice IS NULL OR P.ListPrice <=@MaxListPrice)
AND P.Name LIKE '%'+@ProductName+'%'
END
GO

/* THIS SCRIPT executes the uspFindProducts procedure 
with parameters to apply dynamic filtering: 
minimum price set to 3000 and product name containing 'Mountain' */
EXECUTE Production.uspFindProdcuts @MinListPrice = 3000,
@ProductName = N'Mountain'



